body {
    background-color: #044a9b;
    background-image: url(img/Imagem2.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-origin: inherit;
}

#open-modal {
    background-color: #007bff;
}

button:hover {
    opacity: 1;
}

#fade,
#modal {
    transition: 0.8s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 10;
    background-color: #ffffff;
    width: 360px;
    height: 94%;
    margin: 5px;
    max-width: 90%;
    padding: 2.0rem;
    border-radius: .5rem;
    border: 1px solid #888;
    box-shadow: 1.2px 1.5px 1.8px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 0;
}

.modal_body p {
    margin-bottom: 0.1rem;
}


#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    right: 0;
}


.btn-box {
    display: flex;
    justify-content: space-around;
}

.btn-box button {
    border-radius: 1rem;
    width: 100px;
    margin-top: 16px;
}

.btn-box a {
    border-radius: 1rem;
    width: 100px;
    margin-top: 16px;
}

.btn-close-link {
    cursor: pointer;
    border-radius: 1rem;
    width: 100px;
    margin-top: 16px;
    color: #000;
    background-color: #dc3545;
    text-align: center;
    box-shadow: 1px 1px 2px#000;
}

.btn-close-link:hover {
    color: #000;
}

.new-select {
    width: 100%;
    height: 2.3rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.new-select option {
    padding: 0.5rem;
    font-size: 1rem;
}

.form-group-new {
    display: flex;
    flex-direction: column;
    margin-bottom: .2rem;
}

.form-control-new {
    width: 80%;
    height: 2.3rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.btn-box-new {
    display: flex;
    justify-content: space-around;
}

.btn-box-new button {
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    width: 100px;
    margin-top: 16px;
    background-color: #2471A3;
    color: #fff;
    box-shadow: 1px 1px 2px#000;
}

#analise {
    cursor: pointer;
    border-radius: 1rem;
    width: 100px;
    margin-top: 16px;
    color: #000;
    background-color: #5baf69;
    text-align: center;
    box-shadow: 1px 1px 2px#000;
}

.modal_header-new {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    margin-top: -1rem;
    padding-bottom: 0;
}

.modal_header-new h5 {
    text-align: center;
}

.btn-close {
    background-color: #C0392B !important;
}



.form {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0%;
    right: 24%;
    z-index: 10;
    background-color: #ffffffd5;
    width: 360px;
    height: 94%;
    margin: 0;
    max-width: 90%;
    max-height: 100%;
    padding: 2.0rem;
    border-radius: .5rem;
    border: 1px solid #888;
    box-shadow: 1.2px 1.5px 1.8px;
    margin: 5px;
}

input[type=radio] {
    padding: 0px;
    border: 0px;
    width: 15px;
    height: 20px;
    vertical-align: middle;
    background-color: blue;


}